<?xml version="1.0"?>
<launch>
	<!-- Include the MAVROS node -->
	<include file="$(find px4_realsense_bridge)/launch/bridge_mavros.launch">
	</include>

	<!-- Our node to control the drone -->
	<node pkg="offboard_py" type="rob498_drone.py" name="rob498_drone_py" required="true" output="screen" />

    <!-- rviz -->
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find offboard_py)/rviz/offboard.rviz" />
</launch>
